<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Participation</title>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <div class="details">
        <div class="slide">
            <div class="slider-hover"></div>
            <div class="infos">
                <% if (eventDetails && eventDetails.event) { %>
                    <h3><%= eventDetails.event.name %></h3>
                <% } else { %>
                    <h3>Nom de l'événement non disponible</h3>
                <% } %>
                <button><a href="/Participate/<%= eventDetails.event.id %>/<%= eventDetails.event.name %>">Inscrivez-vous</a></button>
            </div>
        </div>
        <div class="infos-container">
            <div class="section-1">
                <div class="swiper">
                    <% if (eventDetails && eventDetails.event && eventDetails.event.image) { %>
                        <img src="<%= eventDetails.event.image %>" alt="">
                    <% } %>
                    <p><%= eventDetails && eventDetails.event ? eventDetails.event.description : 'Aucune description disponible' %></p>
                </div>
                <div class="swiper-two">
                    <div class="event-details">
                        <div class="header">
                            <div class="one"><h3>Détails de l'événement</h3></div>
                            <div class="two"><i class="fa-regular fa-file-lines"></i></div>
                        </div>
                        <div class="body">
                            <div class="item">
                                <h3>Date de début:</h3>
                                <p><%= eventDetails && eventDetails.event ? eventDetails.event.EventStart : 'Aucune date de début disponible' %></p>
                            </div>
                            <div class="item">
                                <h3>Date de fin:</h3>
                                <p><%= eventDetails && eventDetails.event ? eventDetails.event.EventEnd : 'Aucune date de fin disponible' %></p>
                            </div>
                            <div class="item">
                                <h3>Address:</h3>
                                <p><%= eventDetails && eventDetails.event ? eventDetails.event.EventPlace : 'Aucune adresse disponible' %></p>
                            </div>
                        </div>
                        <div class="speakers">
                            <div class="header">
                                <div class="one"><h3>Intervenants</h3></div>
                                <div class="two"><i class="fa-solid fa-user-tie"></i></div>
                            </div>
                            <div class="body">
                                <% if (eventDetails && eventDetails.speakers && eventDetails.speakers.length > 0) { %>
                                    <% eventDetails.speakers.forEach(speaker => { %>
                                        <div class="item">
                                            <h3>Nom:</h3>
                                            <p><%= speaker.nom %> <%= speaker.prenom %></p>
                                        </div>
                                        <div class="item">
                                            <h3>Email:</h3>
                                            <p><%= speaker.email %></p>
                                        </div>
                                        <div class="item">
                                            <h3>Téléphone:</h3>
                                            <p><%= speaker.phone %></p>
                                        </div>
                                        <div class="item">
                                            <h3>Description:</h3>
                                            <p><%= speaker.description %></p>
                                        </div>
                                        <p class="sparetor">--------------------------</p>
                                    <% }) %>
                                <% } else { %>
                                    <p class="notFound">Aucun intervenant disponible</p>
                                <% } %>
                            </div>
                        </div>
                        <div class="sponsors">
                            <div class="header">
                                <div class="one"><h3>Commanditaires</h3></div>
                                <div class="two"><i class="fa-solid fa-user-group"></i></div>
                            </div>
                            <div class="body">
                                <% if (eventDetails && eventDetails.sponsors && eventDetails.sponsors.length > 0) { %>
                                    <% eventDetails.sponsors.forEach(sponsor => { %>
                                        <div class="item">
                                            <img class="sponsor-img" src="<%= sponsor.logo %>" alt="<%= sponsor.nom %>">
                                            <p><%= sponsor.nom %></p>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <p class="notFound">Aucun Commanditaires disponible</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="program">
            <!-- <h2>Program</h2> -->
             <div class="program-head">
            <% eventDetails.program.forEach((day,index) => { %>
            <div class="program-head-item">
                <p>DAY <%= index+1 %></p>
                <p><%= day.jour %></p>
            </div>
            <% }); %>
        </div>
            <% eventDetails.program.forEach(day => { %>
                <div class="program-body" style="display: none;">
                    <p><%= day.description %></p>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="/js/details.js"></script>
</body>
</html>